# Test the state of the dataset and backup
This script tests to ensure that the dataset and it's backup are accumulating correctly.

In [26]:
import pickle as pkl
import pandas as pd
import os

In [27]:
with open("ProjectData.pkl", "rb") as file:
    pdata = pkl.load(file)
file.close()

In [28]:
pdata.head()

,School,Text,Location,Time
0,Indiana University,RT @Prospects_IN: Indiana Prospects Scout Day ...,None,2017-09-26 02:30:08
1,Indiana University,RT @loganmichael99: Excited to announce that I...,None,2017-09-26 02:27:22
2,Indiana University,RT @Hgrooo8: Very blessed and humbled to annou...,None,2017-09-26 02:26:24
3,Indiana University,Thoughts and prayers to our sisters at Indiana...,None,2017-09-26 02:17:38
4,Indiana University,RT @MPA_Vikings: @hordefb with the win over In...,None,2017-09-26 02:11:10

In [29]:
pdata.shape

(2800, 4)

In [30]:
pd.crosstab(index=pdata.School, columns="School")

col_0                      School
School
Indiana University            200
Michigan State University     200
Northwestern University       200
Ohio State University         200
Penn State                    200
Purdue University             200
Rutgers University            200
University of Illinois        200
University of Iowa            200
University of Maryland        200
University of Michigan        200
University of Minnesota       200
University of Nebraska        200
University of Wisconsin       200

In [31]:
with open("BackupDataset.pkl", "rb") as file:
    bup = pkl.load(file)
file.close()

In [32]:
bup.head()

,School,Text,Location,Time
0,Indiana University,RT @Prospects_IN: Indiana Prospects Scout Day ...,None,2017-09-26 02:30:08
1,Indiana University,RT @loganmichael99: Excited to announce that I...,None,2017-09-26 02:27:22
2,Indiana University,RT @Hgrooo8: Very blessed and humbled to annou...,None,2017-09-26 02:26:24
3,Indiana University,Thoughts and prayers to our sisters at Indiana...,None,2017-09-26 02:17:38
4,Indiana University,RT @MPA_Vikings: @hordefb with the win over In...,None,2017-09-26 02:11:10

In [33]:
bup.shape

(2800, 4)

In [34]:
pd.crosstab(index=bup.School, columns="School")

col_0                      School
School
Indiana University            200
Michigan State University     200
Northwestern University       200
Ohio State University         200
Penn State                    200
Purdue University             200
Rutgers University            200
University of Illinois        200
University of Iowa            200
University of Maryland        200
University of Michigan        200
University of Minnesota       200
University of Nebraska        200
University of Wisconsin       200